{% extends "base.html" %}
{% block body %}
     
     {% block contents %}
      <!--  Form -->
      <div class="container">
        <div class="row">
            <div class="col-md-410">
                <h2>Analyze your data</h2>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
      </div>
      {% endblock contents %}   

{% endblock body %}
       