{% extends "base.html" %}
{% block title %}Bokeh Plot{% endblock %}

{% block extra_css %}         
<link rel="stylesheet"
    href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.css"
    type="text/css" />
{% endblock extra_css %}

{% block extra_js %}
<script type="text/javascript"
    src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js">
        </script>
<script type="text/javascript">
           Bokeh.set_log_level("info");
        </script>
{% endblock extra_js %}

{% block body %}
    {# asssume that variables are being passed to this: #}
	{{ div | safe }}

{% endblock body %}
{% block js_foot %} 
 {{ script | safe }}
{% endblock js_foot %}